mat-form-field{
  width: 100%;
}

mat-card{
  width: 300px;
  height: 200px;
  text-align: center;
  margin-top: 300px;
  margin-left: 400px;
}

.image-welcome {
  background: url("src/assets/login.png") center/cover no-repeat;
  width: 30%;
  height: 870px;
}

.title{
  text-align: center;
}
