
    <section fxLayoutAlign="left">
      <div class="image-welcome"></div>
      <section fxLayoutAlign="">
      <mat-card>
        <form
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayourGap="10px;"
          #f="ngForm"
          (ngSubmit)="loginUsuario(f)"
        >
          <h2 class="title">Ingresa a tu cuenta</h2>
          <mat-form-field>
            <mat-label>Ingrese su Rut</mat-label>
            <input
              type="text"
              matInput
              placeholder="Rut"
              name="rut"
              ngModel
              required
            />
            <mat-error>Debe ingresar su rut</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ingrese su Contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="Contraseña"
              name="password"
              ngModel
              required
            />
            <mat-error>Debe ingresar su contraseña</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">
            Ingresar
          </button>
        </form>
      </mat-card>
    </section>
  </section>
